# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno y secretos
.env

# Base de datos local
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Django
staticfiles/
media/